@import "tailwindcss";

@theme {
  --font-cursive: "Caveat";
  --font-sans: "Nunito Sans";

  --color-primary_color: #f28e12;
  --color-secondary_color: #202020;
  --color-separator_color: #DFDFDF;
  --color-border_color: #9C9C9C;
  --color-white_tint: rgba(255, 255, 255, 0.85);

  --animate-ltr-slow: ltr 200s linear infinite;
  --animate-rtl-slow: rtl 200s linear infinite;
}

@keyframes ltr {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes rtl {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
